.Caja_de_Fondo1 {
    background-color:gainsboro;
    float: left;
    width: 100%;
    height: 750px;  
    margin-top: 1em;
    margin-bottom: 2cm;  
    background-color: #F3F2F0;
}
.caja_de_texto {
    margin-top: 1cm;
    width: 419px;
    height: 50px;
    float: left;
    margin-left: 3.5cm;
    font-family: 'Muli', sans-serif;
    text-align: left;
}

.caja_de_texto > p{
    line-height: 160%;
}
.caja_de_imágen{
    float: right;
    width: 50%  ;
    height: 500px;
    margin-top: 4.5cm;
    margin-right: 4cm;
}


.caja_de_texto > h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 130%;
}

nav img{
    vertical-align: middle;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: 'Muli', sans-serif;
}
.seccion1{
    margin-top: 0.05cm;
}

.bloque1{
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 135px;
    margin-top: 25px;
   
}

.bloque2{
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 190px;
    margin-top: 10px;
   
}

.bloque3{
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 210px;
    margin-top: 25px;
   
}

.bloque1 > a {
    margin-right: 10px;
}

.bloque3 > a{

    margin-right: 10px;
}

.boton button{
    width: 200px;
    height: 50px;
    top: 700px;
    margin-top: 14cm;
    background-color: rgb(59, 199, 185);
    float: left;
    margin-left: 130px;
}
.Blackbox {
    float: left;
    width: 7.5rem;
    height: auto;
    margin-right: 90px;
    
}

.Blackbox img{
    width: 100%;
    
}
.Blackbox > img{

   box-shadow: 0px 10px 10px  #000  ;
   
}

.Icono  img  {
    width: 1.875rem;
    float: left;
     
}
.fondo_icono > p{
    float: center   ;
    width:200px;
    font-size: 0.75 rem ;
    
}
.Black_Boxes {
 margin-left: 4cm;  
}

.Caja_de_Fondo2{
    background-color: #F3F2F0;
    float: left;
    width: 100%;
    height: 2000px;  
    margin-top: 1em;
    margin-bottom: 2cm; 
}
.caja_de_texto2 {
    margin-top: 4cm;
    width: 500px;
    height: 50px;
    float: left;
    margin-left: 3cm;
    font-family: 'Muli', sans-serif;
    text-align: left;
    margin-right: 3.125rem ;
}

.caja_de_texto2 > p{
    line-height: 160%;
    font-size: 0.875rem;
}

.caja_de_imágen2{
    float: right;
    width: 400px;
    height: 100px;
    margin-top: 2.5cm;
    margin-right: 11cm;
}
.caja_de_texto2 > h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
}
.boton2 button{
    width: 200px;
    height: 50px;
    background-color: rgb(59, 199, 185);   
}

.Caja_de_Fondo3{
    float: left;
    margin-top: 15.5cm;
    width: 100%;
    height: 1000px;
}
.caja_de_texto3{
    font-size: 1.3rem;
    margin-left: 3.3cm;
    font-family: 'Muli',sans-serif;
    
}
.caja_de_texto4{
    
    width: 260px;   
    height: 320px;
    margin-left: 2.3cm;
    margin-top: 10px;
    float: left;
    padding:1.6rem 1.875rem 13.125rem;
   background-color:  rgb(234, 234, 232);
}
.caja_de_texto4 > h1 {
    font-size: 1.25rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.2;
}
.caja_de_texto4 > h2 {
    font-size: 0.875rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;
}
.caja_de_texto4 > h3 {
    font-size: 0.75rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;
}
.caja_de_texto4 > h4 {
    font-size: 0.975rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;    
    
}
.caja_de_texto4 > h5 {
    font-size: 1rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #28A5BD;
}
.caja_de_texto5{    
    
    width: 260px;   
    height: 320px;
    margin-left: 0.5cm;
    margin-top: 10px;
    float: left;
    padding:1.6rem 1.875rem 13.125rem;
    background-color: rgb(24, 37, 44);
}

.caja_de_texto5 > h1 {
    font-size: 1.25rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.2;
    color:white;
}
.caja_de_texto5 > h2 {
    font-size: 0.875rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color:#dddedf;
    opacity: 2;
}
.caja_de_texto5 > h3 {
    font-size: 0.75rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color:#dddedf;
}
.caja_de_texto5 > h4 {
    font-size: 0.975rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color:#dddedf;
    
}
.caja_de_texto5 > h5 {
    font-size: 1rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #28A5BD;
}
.caja_de_texto6{    
    box-shadow: #000;
    width: 260px;   
    height: 320px;
    margin-left: 0.5cm;
    margin-top: 10px;
    float: left;
    padding:1.6rem 1.875rem 13.125rem;
    background-color:  rgb(234, 234, 232);
}
.caja_de_texto6 > h1 {
    font-size: 1.25rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.2;
}
.caja_de_texto6 > h2 {
    font-size: 0.875rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;
}
.caja_de_texto6 > h3 {
    font-size: 0.75rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;
}
.caja_de_texto6 > h4 {
    font-size: 0.975rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #6c757d ;
    
}
.caja_de_texto6 > h5 {
    font-size: 1rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    color: #28A5BD;
}
.caja_de_texto7{    
    
    width: 300px;   
    height: 550px;
    margin-left: 1cm;
    margin-top: 80px;
    float: left;
    padding:1.6rem 0.5rem 10.125rem;
}

.caja_de_texto7 > h1 {
    font-size: 1.75rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.5;
    font-weight: 300;
    margin-right: 1cm;
    
}
.caja_de_texto7 > h2 {
    font-size: 0.85rem;
    font-family: 'Muli',sans-serif;
    line-height: 1.6;
    color: #6c757d ;
    margin-right: 2cm;
}
.caja_de_texto7 > h3 {
    
    font-size: 1rem;
    transform: rotate(15deg);
    color: #7b7b7b;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 3.5cm;
    
}

.caja_de_texto7 > img {
    width: 1.5rem;
    margin-left: 4.5cm;
    
    
    
}

.boton3 button{
    float: left;
    width: 145px;
    height: 45px;
    background-color: rgb(59, 199, 185);   
    
}


